{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block content %}
<h1>All news: {{ length }}</h1> 
<h3> {{ time_now|date:'d-m-Y' }} </h3>
<hr>


<h2>News search:</h2>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Search">
</form>
<p></p>

{% for post in filter.qs %}         
<div style="float: right"><p>{{ post.dateCreation|date:'h:i ∙ d-m-Y ' }}</p>
<a class="nav-link" href="{% url 'postUpdate' post.id %}">Edit</a> 
<a class="nav-link" href="{% url 'postDelete' post.id %}">Delete</a></div>
<div align="left"> 
    <h4><p>{{post.title|censor}}</p></h4>    
    <p>{{ post.text|truncatewords:50|censor }}</p>
    <a class="nav-link" href="{% url 'postDetail' post.id %}">Read more...</a>
    <hr>
</div>
{% endfor %}


{% endblock content %}