<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Posts of the week</h2>
    <ul>
        {% for bpost in postList %}
            <hr>
            <li>
                <p>Date: {{ bpost.dateCreation }}<br>Author: {{ bpost.author }}</p>
                <p><b>Discription:</b> {{ bpost.text|truncatechars:50 }}...
                  <br><a href="http://127.0.0.1:8000/post/{{bpost.id}}">Read now</a>
                </p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>